@{
    ViewBag.Title = "Home Page";
}

<form ng-controller="newPropertyCtrl"  role="form">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label>Tipo de Publicación</label>
                <select name="operationType" ng-model="operationType" class="form-control">
                    <option value="Rent">Renta</option>
                    <option value="Sale">Venta</option>
                </select>
            </div>
            <div class="form-group">
                <label>Numero de Habitaciones</label>
                <input ng-model="bedrooms" name="bedrooms" type="number" class="form-control">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label>Numero de Baños</label>
                <input ng-model="bathrooms" name="bathrooms" type="number" class="form-control">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group" ng-class="{'has-error' : invalidSize, 'has-warning': unknownSize}">
                <label>Sup. Cubierta</label>
                <div class="input-group">
                    <input required name="squareMts" ng-model="squareMts" type="number" class="form-control">
                    <div class="input-group-addon">m²</div>
                </div>
                <div class="help-block with-errors" ng-show="invalidSize || unknownSize">{{sizeValidationMessage}}</div>
            </div>
            <div class="form-group">
                <label>Otros</label>
                <br />
                <label class="checkbox-inline">
                    <input name="hasParking" ng-model="hasParking" type="checkbox">Con Parqueo
                </label>
                <label class="checkbox-inline">
                    <input name="withFurniture" ng-model="withFurniture" type="checkbox">Amoblado
                </label>
                <label class="checkbox-inline">
                    <input name="hasBackyard" ng-model="hasBackyard" type="checkbox">Patio
                </label>
            </div>
            <div class="form-group" ng-class="{'has-error' : invalidPrice, 'has-warning': priceUnknown}">
                <label>Precio</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input required name="price" ng-model="price" type="number" step="0.01" class="form-control">
                </div>
                <div class="help-block with-errors" ng-show="invalidPrice || priceUnknown">{{priceValidationMessage}}</div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <label>Tipo de Propiedad</label>
                <select name="propertyType" ng-model="propertyType" class="form-control">
                    <option value="Apartment">Apartamento</option>
                    <option value="Detached">Casa</option>
                    <option value="Attached">Duplex</option>
                    <option value="Maisonette">Maisonette</option>
                </select>
            </div>
            <div class="form-group">
                <label>Distancia a Estación</label>
                <div class="input-group">
                    <input required name="distanceToStation" ng-model="distanceToStation" type="number" class="form-control">
                    <div class="input-group-addon">m</div>
                </div>

            </div>
            <div class="form-group">
                <label>Antiguedad del Inmueble</label>
                <div class="input-group">
                    <input required name="age" ng-model="age" type="text" class="form-control" placeholder="antiguedad en años">
                    <div class="input-group-addon">años</div>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label>Zona</label>
                <select name="zoneReputation" ng-model="zoneReputation" class="form-control">
                    <option value="Bad">Ciutat Meridiana &#9733;</option>
                    <option value="Bad">La Clota &#9733;</option>
                    <option value="Bad">Verdun &#9733;</option>
                    <option value="Bad">El Raval &#9733;</option>
                    <option value="Fair">El Barri Gòtic &#9733;&#9733;</option>
                    <option value="Fair">Sant Andreu &#9733;&#9733;</option>
                    <option value="Fair">Sant Pere, Santa Caterina i la Ribera &#9733;&#9733;</option>
                    <option value="Fair">Horta &#9733;&#9733;</option>
                    <option value="Good">Sant Gervasi-Galvany &#9733;&#9733;&#9733;</option>
                    <option value="Good">El Baix Guinardó &#9733;&#9733;&#9733;</option>
                    <option value="Good">la Sagrada Família &#9733;&#9733;&#9733;</option>
                    <option value="Good">Les Tres Torres &#9733;&#9733;&#9733;</option>
                    <option value="Excellent">La Vila Olímpica del Poblenou &#9733;&#9733;&#9733;&#9733;</option>
                    <option value="Excellent">Sant Gervasi - la Bonanova &#9733;&#9733;&#9733;&#9733;</option>
                    <option value="Excellent">Diagonal Mar i el Front Marítim del Poblenou &#9733;&#9733;&#9733;&#9733;</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <hr class="divider" />
        <div class="col-lg-5">
            <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
    </div>
</form>

